nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

/* input[type="email"]::placeholder {
  text-align: center;
} */

input.form-control {
  height: 31px !important;
}

.no-border {
  border: 0.03;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  #form-email {
    margin-bottom: 0.5rem;
  }
}
